<h1>this is search page!!</h1>
<%= link_to 'search', query_path %>
<%= link_to 'scan', barcode_path %>

<%# <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%# <%= react_component("my_subdirectory/HelloWorld", { greeting: "Hello from react-rails SUBDIRECTORY." }) %>
<%= react_component("buttons/PrimaryButton", { text: "Press here" }) %>
<%= react_component("scanners/Index") %>
